.cache
dist
node_modules
package-lock.json
vendor
composer.lock

.htaccess
wp
wp-config.php
wp-config.php.bak

wp-content/*
!wp-content

wp-content/themes/*
!wp-content/themes
#!/wp-content/themes/custom_theme
!/wp-content/themes/twentytwentyone
!/wp-content/themes/arena


wp-content/plugins/*
!wp-content/plugins/
#!/wp-content/plugins/arena_plugin
